services:
  api:
    image: "abdelhak245/multi-container-app:latest"
    ports:
      - "3000:3000"
    depends_on:
      - mongo
  mongo:
    image: "mongo:latest"
    volumes: 
      - mongodb_volume:/data/db
  nginx: 
    image: "nginx:latest"
    volumes: 
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - api

volumes:
  mongodb_volume: